* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: #f4d160;
  padding: 40px;
}
h1 {
  transition: 0.3s ease;
  font-size: clamp(2rem, 5.3vw, 3rem);
}
h2 {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: clamp(1.2rem, 3.2vw, 2rem);
  line-height: clamp(1.2rem, 3.2vw, 2rem);

  padding: 0 16px;
  color: #fff;
  background-color: #1d5d9b;
  word-break: keep-all;
}
h3 {
  font-size: clamp(1.2rem, 3.2vw, 2rem);
  word-break: keep-all;
}

.wrapper {
  padding: 8px;
  background-color: #fff;
  margin: 0 auto;
}

.container {
  max-width: 100vw;
  width: auto;
  margin: 24px;
  padding-bottom: 16px;
  counter-increment: num;
}

.container > h2::before {
  content: "0" counter(num) ".";
  padding-right: 16px;
}

.contents {
  width: auto;
  padding: 16px;
  background-color: #f0f0f0;
}
.box {
  margin: 8px 0;
  padding: 0 16px;
  width: auto;
  box-sizing: border-box;
  line-height: 100px;
  background-color: #75c2f6;
  font-weight: bold;
}
.box1 {
  width: 980px;
  background-color: skyblue;
}
.box2 {
  max-width: 980px;
  background-color: steelblue;
}

/* コンテナクエリ */
.cq {
  /* 要素をコンテナにする */
  /* container-type: inline-size;  インライン方向のサイズに応じる*/
  /* container-type: size;         インライン方向・ブロック方向のサイズに応じる */
  container-type: inline-size;
}
.box3,
.box4 {
  width: auto;
  background-color: #ccc;
}
@media (max-width: 768px) {
  .box3 {
    background-color: pink;
  }
}
@container (max-width:768px) {
  .box4 {
    background-color: palevioletred;
  }
}

.widthItem {
  margin: 8px 0;
  padding: 0 32px;
  line-height: 100px;
  background-color: #75c2f6;
  font-weight: bold;
}

.full {
  width: 100%;
}
.auto {
  width: auto;
}
